html {
  height: 100%;
  background: linear-gradient(125deg, #978CC6ff, #7670AEff, #555497ff, #33377Fff, #121B67ff);
}

body {
  margin: 0 auto;
  text-align: center;
  max-width: 1300px;
}

button {
  cursor: pointer;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.209);
  width: 20%;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.2em;
}

button:active {
  box-shadow: 0 0 0 0;
  border: 2px solid #121B67ff;
}

header h1 {
  color: rgb(253, 251, 251);
  font-size: 2.5em;
  margin: 35px auto 0px;
  text-shadow: 2px 2px 2px black;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  border-radius: 12px;
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  background-color: #978CC6ff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.593);
}

li span {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-left: 15px;
  color: rgb(9, 15, 68);
}

.task-creation {
  border-radius: 12px;
  width: 40%;
  margin: 50px auto 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  background-color: #33377Fff;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.433);
}

.input-task,
.input-task:focus {
  width: 80%;
  border: none;
  outline: none;
  font-size: 1.2em;
  background-color: #33377Fff;
  color: rgba(255, 255, 255, 0.886);
}

.add-btn {
  background-color: rgb(151, 140, 198);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.209);
  color: #121B67ff;
}

.pomodoro-tasks {
  display: flex;
  justify-content: space-between;
  padding: 10px 2.2rem;
  margin-top: 30px;
}

.active-tasks h2, .completed-tasks h2 {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 1.6em;
}

.checkbox {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.33);
}

.checkbox:active {
  box-shadow: 0 0 0;
}

.active-list li .checkbox {
  border: dotted white;
}

.active-list li .checkbox:hover {
  border: solid white;
}

.completed-list li .checkbox {
  background-color: #121B67ff;
  border: none;
}

.completed-list li .checkbox::after {
  content: '✓';
  color: white;
}

.completed-list li .checkbox:hover {
  border: solid #121B67ff;
  background-color: #978CC6ff;
}

.completed-list li .checkbox:hover::after {
  content: none;
}

.completed-list li span {
  text-decoration: line-through;
  text-decoration-color: #33377Fff;
}

.btns-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  margin-left: 40px;
}

.run-btn {
  border: 1px solid #7670AEff;
  border-radius: 10px;
  padding: 2px 4px;
  width: 50px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.386);
  color: #121B67ff;
}

.run-btn:hover {
  border: 2px solid #7670AEff;
}

.run-btn:active {
  border: 2px solid #7670AEff;
  box-shadow: 0 0 0;
  font-weight: bold;
}

.delete-btn {
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 #970000;
  font-size: 20px;
  filter: drop-shadow(2px 2px 1px #00000094);

}

.delete-btn:hover {
  filter: drop-shadow(2px 2px 1px #97000094);
}

.delete-btn:active {
  filter: drop-shadow(0px 0px 0px #97000094);
}


.pomodoro-cont h2 {
  font-size: 1.6em;
  line-height: 1.8em;
  color: white;
  text-shadow: 2px 2px 2px black;
  
}

.current-task {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #121B67ff;
  font-size: 1.7em;
}


.pomodoro-status {
  display: flex;
  gap: 1.2em;
  justify-content: space-around;
  align-items: center;
  padding: 15px 22px;
  border-radius: 30px;
  margin: 40px 10px 25px;
  background-color: rgba(18, 27, 103, 0.825);
  color: white;
  text-shadow: 2px 2px 2px black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.535);
}

.pomodoro-status h3 {
  margin: 0 auto;
  font-size: 1.2em;
}


.settings {
  width: 90px;
  padding: 5px;
  border-radius: 20px;
  margin: 10px auto 20px;
  cursor: pointer;
  background-color: #33377Fff;
  color: rgba(255, 255, 255, 0.841);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
  text-shadow: 2px 2px 2px black;
}

.settings:active {
  box-shadow: none;
  border: 2px solid #121B67ff;
}

.settings h3 {
  margin: 0;
  font-size: 1.3em;
}

.cycles {
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.862);
  margin-top: 40px;
}

.timerDisplay {
  font-size: 4.5em;
  margin: 30px auto 40px;
  color: white;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.248);
}

.start-pause-timer button, .reset-all {
  font-size: 1.1em;
  background-color: #978CC6ff;
  color: #121B67ff;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.629);
  border: none;
  font-weight: bolder;
}

.start-pause-timer button:active, .reset-all:active {
  border: 2px solid #7670AEff;
  text-shadow: none;
}

.settings-display {
  border-radius: 20px;
  width: 560px;
  height: 410px;
  margin: 10px auto ;
  background-color: white;
  position: absolute;
  top: 18vh;
  left: 35%;
  display: none;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.204);
}

.title-exit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.328);
  width: 90%;
  margin: 15px auto 0;
  padding: 5px;
  padding-bottom: 15px;
  color: #555497ff;
}

.title-exit h2 {
  margin: 0;
}

.exit-settings-btn {
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2em;
}

.timer-settings h2 {
  color: #121B67ff;
  font-size: 1.6em;
}

input[type="number"] {
  width: 30%;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: rgba(85, 84, 151, 0.34);
  font-weight: bold;
  font-size: 0.97em;
  color: #121B67ff;
}

.timers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em;
  padding: 5px 5px 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.328);
  width: 90%;
  margin: auto;
}

.pomodoro-timer h4, .short-timer h4, .long-timer h4, .cycles-timer h4 {
  font-size: 1.1em;
  margin: 15px;
  color: rgba(18, 27, 103, 0.902);
}

.save {
  margin: 20px auto;
  font-size: 1.1em;
  background-color:  rgba(85, 84, 151, 0.443);
  color: #121B67ff;
  border: none;
  font-weight: bolder;
  box-shadow: none;
}

.save:active {
  border: none;
}

.completed-task-display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 600px;
  height: 300px;
  padding: 10px;
  margin: 10px auto ;
  background-color: white;
  position: absolute;
  top: 15vh;
  left: 32%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.204);
  display: none;
}

.completed-task-display h2 {
  color: #555497ff;
}

.completed-task-display h3 {
  color: #121B67ff
}

.yes-no-btns {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  
}

.yes-btn , .no-btn, .cont-work-btn {
  margin: 15px auto 15px;
  font-size: 1.1em;
  background-color:  rgba(85, 84, 151, 0.34);
  color: #121B67ff;
  border: none;
  font-weight: bolder;
  box-shadow: none;
  width: 50px;
}

.yes-btn:active , .no-btn:active, .cont-work-btn:active {
  border: none;
}

.uncompleted-task {
  display: none;
}

.uncompleted-task input[type='number'] {
  width: 15%;
}

.cont-work-btn {
  margin: 0;
  width: 100px;
}

.progess-bar-cont{
  width: 80%;
  height: 20px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.995);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
}

.progess-bar {
  width: 0;
  height: 20px;
  background-color: #33377Fff;
  border-radius: 10px;
}

.reset-all-cont {
  text-align: center;
  width: 30%;
  margin: 20px auto;
}

.reset-all {
  width: 100%;
}


@media only screen and (max-width: 900px) {

  .pomodoro-tasks {
    padding: 8px 1.5em;
  }

  .pomodoro-status {
    padding: 10px 15px;
    gap: 0.8em;
  }

  .settings-display {
    width: 450px;
    height: 410px;
    margin: 0 auto ;
    left: 25%;
  }

  .completed-task-display{
    width: 550px;
    height: 330px;
    top: 18vh;
    left: 20%;
  }
}

@media only screen and (max-width: 830px) {
  input[type="number"] {
    font-size: small;
  }

  .timer-settings h2 {
    font-size: 1.2em;
  }
  .pomodoro-timer h4, .short-timer h4, .long-timer h4, .cycles-timer h4 {
    font-size: smaller;
  }

  .settings-display {
    width: 350px;
    height: 550px;
  }

  .completed-task-display{
    width: 400px;
    height: 415px;
    left: 15%;
  }
}
